<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
       <ol>
            {% for project in projects %}
                <li>
                    <p>{{project.name}}</p>
                    <p>{{project.num_task}}</p>
                </li>
            {% endfor %}
            </ol> 
            {% comment %} <p>{{task_count}}</p> {% endcomment %}
    </div>
</body>
</html>