{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/output.css'%}">
  <title>task</title>
</head>
<body >
<div class="w-1/2 mx-auto">
  <div>
    {% if messages %}
    {% for message in messages %}
        <div class="px-2 py-1 {% if message.tags == 'success' %}bg-green-500{% endif %} ">{{message}}</div>
    {% endfor %}
{% endif %}

   </div>
   <form method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
    {{ task_form }}
    {{ task_detail_form }}
    <button class="px-3 py-1 rounded-sm bg-red-400 my-5 text-semibold shadow-md text-white" type="Submit">Submit</button>
  </form>

</div>

</body>
</html>