{% extends "admin/dashboard.html" %}
{% block content %}
      <h2 class="text-2xl font-bold mb-4">Groups and Permissions</h2>
      <div class="overflow-x-auto">
        <table class="table-auto w-full border-collapse border border-gray-300">
          <thead>
            <tr class="bg-gray-100">
              <th class="border border-gray-300 px-4 py-2">Group Name</th>
              <th class="border border-gray-300 px-4 py-2">Permissions</th>
            </tr>
          </thead>
          <tbody>
            <!-- Example group data -->
          {% for group in groups %}
            <tr class="odd:bg-white even:bg-gray-50">
              <td class="border border-gray-300 px-4 py-2 font-medium">
                {{group.name}}
              </td>
              <td class="border border-gray-300 px-4 py-2">
                <ul class="list-disc list-inside">
                  {% for permission in group.permissions.all %}
                    <li>{{permission}}</li>
                  {% empty %}
                    <span  class="text-gray-500 italic">No permission</span>
                  {% endfor %}
                </ul>
              </td>
            </tr>
          {% endfor %}
            
            
          </tbody>
        </table>
      </div>
{% endblock content %}