{% extends "base.html" %}
{% block content %}
  <div class='w-1/2 mx-auto my-9'>
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
      <p>{{error}}</p>
    {% endfor %}
    {% endif %}
  </div>
  <form action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
      <p>
        <label for="{{ field.id_for_label }}">{{field.label}}</label>
        {{ field }}
        {% if field.errors %}
          <ul>
            {% for error in field.errors %}
              <li>{{error}}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </p>
    {% endfor %}
    <button class="bg-blue-500 px-2 py-1 rounded mt-3 text-white" type="submit">Sign Up</button>
  </form>
{% endblock content %}

