<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Welcome to Authentication System</h1>
  <div>
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
      <p>{{error}}</p>
    {% endfor %}
    {% endif %}
  </div>
  <form action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
      <p>
        <label for="{{ field.id_for_label }}">{{field.label}}</label>
        {{ field }}
        {% if field.errors %}
          <ul>
            {% for error in field.errors %}
              <li>{{error}}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </p>
    {% endfor %}
    <button type="submit">Sign Up</button>
  </form>
</body>
</html>